.footer {
    width: 190xp;
    background-color: #b9c2d8;
    text-align: center;
    padding: 40px 20px;
    font-family: sans-serif;
    font-size: 1.2rem;

    
    position: fixed;
    bottom: 0;
    left: 0;
}


.footer strong {
    text-shadow: 1px 1px 2px #ffffff50;
}
